.display-4{
    font-size:4rem;
    text-align: right;
    color:white;
}
.header{
    background-image:url("../images/train.jpg");
    background-size:cover;
    height:212px;
}
.clock{
    color:white;
    text-align: right;
    font-size:42px;
}
.list-group, .border{
    margin:auto;
}
.title{
    font-size:24px;
    text-align: center;
    background-color:#518c27;
    color:white;
}
.border{
    border:1px solid grey;
    margin-top:20px;
}
.caption{
    border: inherit; 
    background-color: lightgrey;
}
.table{
    margin-bottom:0;
    text-align: center;
}
form{
    padding:10px;
}
.table thead th{
    font-weight: 300px;
    font-size:18px;
}
form label{
    font-size:18px;
}
.btn, .deleteBtn{
    background-color:#518c27;
    color:white;
    margin-top:10px;
}
.deleteBtn{
    padding:0px 4px !important;
}